.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.img-result {
	width: 50%;
	position: relative;
}
.result {
	margin-top: 30px;
	width: 50%;
}
.gray-msg {
	text-align: center;
	margin-top: 30px;
}
#gun-sight {
	position: absolute;
	left: 400;
	bottom: 200;
}
#map-image {
	position: relative;
}

#books-listing {
	width:80%;
}

#main-content
{
	/*
	border-style: solid;
	border-color: rgb(201, 180, 125);
	border-width: 1px;
	padding-top: 20px;
	min-height: 500px;
	min-width: 800px;
	*/
}

.main-box>.chosen-container
{
	display: block;
  margin-left: auto;
  margin-right: auto;
  zoom: 1.2;
  margin-top: 50px;
}

img.thumbnail
{
  float: left;
  height: 100px;
  margin:10px;
}

img.format-icon
{
  float: right;
  position: relative;
  bottom: 57px;
}

div.item-descr
{
    /*font-style:oblique;*/
    padding-left: 17%;
}

div.item
{
	margin:20px;
  height:auto;
  overflow: scroll;
}

a.brand.with-img
{
  padding: 0px;
}

.nav img, 
a#toptitle, 
.inline
{
  display:inline;
}


.nav>li[class="active"]>a
{
  padding:0;
  padding-right: 10px;
}

.highlight-box
{
  background-color: rgb(242, 232, 209);
  min-height: 400px;
  padding-bottom: 30px;
}

#intro-info
{
  /*position: relative;*/
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  display: block;
}

.img-label
{
  margin-top: 30px;
}

.search-input
{
  margin-top: 50px;
}

#type-selector
{
    width: 100px;
}

#format-selector
{
    width: 130px;
}
/*---------the sticky footer----------*/

 /* Sticky footer styles
      -------------------------------------------------- */

  html,
  body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -200px;
  }

  /* Set the fixed height of the footer here */
  #push,
  #footer {
    height: 200px;
  }
  #footer {
  }

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }



  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  #wrap > .container {
    padding-top: 200px;
  }
  .container .credit {
    margin: 20px 0;
  }

  code {
    font-size: 80%;
  }